# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
*.xcscmblueprint
*.xcworkspace/xcuserdata/
build/
*.o
*.d
*.LinkFileList
*.dependency_info

# macOS
.DS_Store
.AppleDouble
._*

# Swift Package Manager
.build/
*.resolved
Packages/

# Tools / scripts
Tools/

# Secrets
*.env
secrets.plist
